@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", "sans-serif";
  --font-outfit: "Outfit", "sans-serif";
  --font-inter: "Inter", "sans-serif";
}
@theme inline {
  --color-brand-text: #2e8b57;
  --color-brand-main: #354b21;
}

body {
  background: #f0fff0;
}
