.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
    145deg,
    #000000 0%,
    #0a0a0a 15%,
    #1a1a1a 30%,
    #2b2b2b 45%,
    #3d3d3d 55%,
    #4f4f4f 65%,
    #666666 75%,
    #8c8c8c 90%,
    #bfbfbf 97%,
    #f0f0f0 100%
  );
    box-sizing: border-box;
   
}

.content {
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
width: 100%;
height: 100%;
color: white;
font-family: 'Nunito';
padding-left: 80px;
}

.spline {
    width: 450px;
    height: 450px;
    max-width: 40vw;
    max-height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
    padding-left: 20px;
}