.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
background: linear-gradient(135deg, #0F2027, #203A43, #2C5364);
    box-sizing: border-box;
   
}
#ChangeText {
  transition: opacity 0.5s ease-in-out, color 0.2s ease-in-out;
}
.content {
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
width: 100%;
height: 100%;
color: white;
font-family: 'Nunito';
padding-left: 80px;
}

.content h1{
 margin-bottom: 15px;
 width: 100%;
 max-width: 500px;
}
.content p{
  font-family: 'Nunito';
  max-width: 500px;
  width: 100%;
  line-height: 1.5rem;
  font-size: 15px;
}
.spline {
    width: 450px;
    height: 450px;
    max-width: 40vw;
    max-height: 40vw;
    display: flex;
    margin-left: 3vw;
    padding-right: 80px;
   border: none;
 
   
}