.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito';
    border-top: 1px solid black;
    min-height: 10vh;
    padding: 10px 12rem 0 12rem;
}
.fot , .p{
    font-size: 15px;
    font-weight: 800;
}
@media(max-width:480px){
  .footer{
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   flex-direction: column;
   min-height: 10vh;
    padding-bottom: 10px;
    padding-top: 20px;
    gap: 0;
    background: white;
  }
  .fot , .p{
    font-size: 15px;
    font-weight: 700;
   
  }
}